.invite-contact-card{
    margin-bottom: 10px;
    top: 25px;
    margin: 15px;
    text-align: left;
}

@media (min-width: 1000px) {
    .invite-contact-card.card {
        display:inline-block;
        width: 47%;
        padding-bottom: 20px;
        vertical-align: top;
        margin-left: 10px;
    }
}