/* Style all forms and inputs, classes below only style files that have imported it */

.createform{
    text-align: left;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    overflow: hidden;
}

.createform button{
    margin: 3px;
}

.create-chat-header{
    font-size: 31px;
    text-align: center;
    margin: 10px;
}

button {
    float: right;
}

.form-wrapper {
    height: 100vh;
}