
html, body, body > div, .app {
  height: 100vh;
}

body {
  background: #07ade0;
  padding-top: 65px; 
}
.App {
  margin-left: auto;
  margin-right: auto;   
  font: 18px verdana, "sans serif", tahoma;
  overflow: hidden;
  text-align: center;
}
